html { 
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  position: relative;
  font-size: 1.05rem;
  /* background: url(../images/bg-dark-hex.png); */
  background: black;
}
canvas {
  width: 100%;
  height: 99.2%;
}
img {
  height: 100%;
  width: 100%;
}
footer {
  width:100%;
  height: 80px; 
}
ul {
  list-style-type: none;
  margin-right: 170px;
}
a, a:hover {
  text-decoration: none;
  color: #2C3E50;
}
i.fab {
  font-size: 24px;
}
.gh-link:hover {
  color: white;
  background-color: #2C3E50;
  border-radius: 10px;
  border: 1px solid #2C3E50;
}
.horizontal {
  display: inline;
}
.drop-shadow {
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}
.align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  border-radius: 10px;
}
.text-shadow-lg {
  text-shadow: 2px 2px 5px rgba(0,0,0,.25)
}
.text-shadow-sm {
  text-shadow: 1px 1px 3px rgba(0,0,0,.25)
}
#canvas-container {
  height: 100%;
  width: 100%;
  display: none;
}